#map {
    height: 100%;
    width: 100%;
    cursor: crosshair;
}

.marker-position {
    position: absolute;
    bottom: 2.5%;
    z-index: 999;
    padding: 10px;
    font-weight: 700;
    background-color: #fff;
}

.back-to-home {
    cursor: pointer;
    padding: 5px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 65%);
}

.leaflet-touch .back-to-home {
    width: 34px;
    height: 34px;
}

.hidden {
    display: none;
}
